@import './mixin';

body[data-theme='dark'] {
  --bg-color: #2a2f36;
  --detail-color: #e5e5e6;
  --main-color: #1b1a1a;
  --shadow-color: rgba(92, 170, 233, 0.6);
  --shadow-cards: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
}

body[data-theme='light'] {
  --bg-color: #f5f5f5;
  --detail-color: #1b1a1a;
  --main-color: #ebebeb;
  --shadow-color: rgba(14, 99, 168, 0.4);
  --shadow-cards: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

:root {
  --radius: 6px;
  --toastify-icon-color-success: var(--blue-color) !important;
  --blue-color: #3392ff;
  --white-color: #fff;
  --black-color: #1b1a1a;
  --red-color: #fc3e3e;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--white-color);
  margin-bottom: 16px;
  display: inline-block;
}

.title__h2 {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  color: var(--detail-color);
  padding-left: 20px;
  margin-left: 30px;

  &::before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: -0px;
    width: 1px;
    height: 120px;
    background-color: var(--detail-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    width: 120px;
    height: 1px;
    background-color: var(--detail-color);
  }
}

.classic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 300px;
  padding: 0 15px;
  height: 54px;
  border-radius: 6px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  background-color: var(--blue-color);
  cursor: pointer;
  z-index: 5;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--black-color);
  }

  &:active {
    transform: scale(1.1);
  }
}

@include lg {
  .title__h2 {
    font-size: 30px;
    &::before {
      height: 100px;
      bottom: -30px;
    }

    &::after {
      width: 100px;
    }
  }
}

@include sm {
  .title__h2 {
    font-size: 26px;

    &::before {
      height: 80px;
      bottom: -20px;
    }

    &::after {
      width: 80px;
    }
  }
}
