@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
@import './variables.scss';
@import './mixin.scss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
  background-color: var(--bg-color);
  transition: background-color 0.5s ease-in-out;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e1e;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
  }
}

a {
  text-decoration: none;
}

.Toastify__toast-container--top-right {
  &:last-child {
    margin-top: 80px !important;
  }
}
.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}
