@import '../../../assets/scss/mixin';

.signUp {
  width: 100vw;
  height: 100vh;
  background: url('../../../../public/image/bg-auth.jpg') center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formSignUp {
  border-radius: 6px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: var(--black-color);
}
.content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 530px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.error {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline 1px var(--red-color);
  text-underline-offset: 5px;
}
.descr {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-color);
  a {
    font-size: 20px;
    color: var(--white-color);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.submit {
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--blue-color);
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 490px;
  margin-top: 40px;
}
.text {
  font-size: 26px;
  font-weight: 600;
  color: var(--black-color);
  text-align: center;
}
.textSm {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-color);
  text-align: center;
}
@include xl {
  .inputs {
    gap: 20px;
  }
}
@include lg {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    gap: 14px;
  }
}

@include sm {
  .content {
    width: 100%;
    padding: 14px 5px;
  }
  .descr {
    font-size: 14px;
    a {
      font-size: 16px;
    }
  }
  .title {
    font-size: 26px;
  }
}
