.burger {
  position: relative;
  width: 38px;
  height: 14px;
  cursor: pointer;
}
.line,
.line_active {
  position: absolute;
  width: 38px;
  height: 2px;
  background-color: var(--blue-color);
  transition: 0.3s ease-in-out;

  &:nth-child(1) {
    top: 0px;
  }
  &:nth-child(2) {
    top: 7px;
    opacity: 1;
  }
  &:nth-child(3) {
    top: 14px;
  }
}
.line_active {
  &:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:nth-child(3) {
    top: 5px;
    transform: rotate(-45deg);
  }
}
