.card {
  display: flex;
  flex-direction: column;
  width: 300px;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #e5e6e6;
    border-radius: var(--radius);
  }
  .img {
    width: 200px;
    height: 170px;
    margin: 40px 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .banners {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .sale,
  .new {
    padding: 10px 18px;
    background-color: #ff3333;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: var(--radius);
  }

  .new {
    background-color: #3392ff;
  }
  .tools {
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
  }
  .icon {
    color: var(--detail-color);
    cursor: pointer;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
    color: var(--detail-color);
    margin: 20px 0;
  }
  .block {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    font-weight: 500;
    color: var(--detail-color);
  }
  .old {
    font-weight: 400;
    font-size: 16px;
    color: #737373;
    text-decoration: line-through;
  }
  .price {
    font-weight: 600;
    font-size: 20px;
    color: var(--detail-color);
  }
}
