.home {
  background: url('../../../public/image/back.jpg') right center/cover no-repeat;
  height: 100vh;
  padding-top: 240px;
  i {
    font-size: 16px;
    font-weight: 400;
    margin: 14px 0 40px;
    display: inline-block;
    color: var(--black-color);
  }
  &__block {
    max-width: 800px;
    margin-left: 100px;
  }

  &__title {
    position: relative;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black-color);
    line-height: 70px;

    strong {
      color: var(--white-color);
      background-color: var(--blue-color);
      padding: 2px 10px;
      border-radius: 6px;
      font-weight: 600;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -130px;
      left: -20px;
      width: 1px;
      height: 340px;
      background-color: var(--black-color);
    }
    &::after {
      content: '';
      position: absolute;
      top: -50px;
      left: -60px;
      width: 340px;
      height: 1px;
      background-color: var(--black-color);
    }
  }
}

.products {
  margin: 100px 0;
  min-height: 100vh;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 80px 0 120px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.promo {
  min-height: 900px;
  padding-top: 150px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    margin-top: 100px;
  }
  &__advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex: 1;
  }
}
