@import '../../assets/scss/mixin';

.card {
  width: 260px;
  height: 150px;
  padding: 0 20px;
  color: var(--black-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-color);
  box-shadow: var(--shadow-cards);
  gap: 10px;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
}
.icon {
  border-radius: 50%;
  border: 1px solid var(--blue-color);
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include xl {
  .card {
    width: 152px;
  }
  .title {
    font-size: 16px;
  }
}
@include lg {
  .card {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}

@include md {
  .card {
    max-width: 240px;
  }
}
