@import '../../assets//scss/mixin';

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav_right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link,
.cart,
.linkActive {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: var(--detail-color);
}
.linkActive {
  color: var(--blue-color);
  &::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--blue-color);
  }
}
.cart {
  color: var(--white-color);
}

.favouriteQuantity,
.ordersQuantity {
  position: absolute;
  top: -22px;
  right: -22px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: var(--blue-color);
}

.cart {
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  border-radius: 10px;
}

.quantity {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  border-radius: 50%;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: 1px;
    height: 30px;
    background-color: var(--white-color);
  }
}

@include xl {
  .nav_left {
    display: none;
  }
}
@include lg {
}
@include md {
  .nav {
    display: none;
  }
}
@include sm {
}
