.block {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
  }
  .input {
    height: 50px;
    width: 100%;
    padding: 12px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--black-color);
    font-size: 18px;
    color: var(--black-color);
    background-color: transparent;
    &::placeholder {
      color: rgba(0, 0, 0, 0.7);
    }

    &:focus {
      border-bottom: 2px solid var(--blue-color);
    }
  }
}
