@import '../../assets/scss/mixin';

.searchBlock {
  position: relative;
}
.search {
  outline: none;
  padding: 12px 20px;
  height: 50px;
  width: 480px;
  border: 1px solid var(--detail-color);
  background-color: transparent;
  color: var(--detail-color);
  border-radius: 6px;

  &::placeholder {
    color: var(--detail-color);
  }
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--detail-color);
}

@include lg {
  .search {
    width: 300px;
  }
}

@include md {
  .search {
    width: 100%;
  }
}
@include sm {
}
