.sliderBig {
  width: 400px;
  height: 250px;
  margin-bottom: 40px;
  position: relative;

  .swiper-slide-active {
    height: 230px;
    border: 1px solid var(--blue-color);
    padding: 14px 20px;
    cursor: grab;
  }
  .swiper-button-prev {
    left: 20px;
  }
  .swiper-button-next {
    right: 20px;
  }
}

.sliderSmall {
  .swiper-slide-visible {
    border: 1px solid var(--detail-color);
  }
  .swiper-slide-thumb-active {
    border: 1px solid var(--blue-color);
  }
  .swiper-slide {
    height: 100px;
    padding: 14px 20px;
    cursor: pointer;
  }
}
