.orders {
  padding-top: 160px;
  overflow-x: hidden;

  &__wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px 0 120px;
  }
}
